-e git+git@github.com:rkalis/AppiePy.git@2fa9050fa57ead7dc7cd8092788126af39dc2fa5#egg=appiepy
certifi==2018.1.18
chardet==3.0.4
coverage==4.5.1
idna==2.6
nose==1.3.7
pbr==3.1.1
pkginfo==1.4.2
requests==2.18.4
requests-toolbelt==0.8.0
tqdm==4.19.8
twine==1.11.0
urllib3==1.22
